body.install-page {
  background-image: url("../images/varbase-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  -webkit-background-origin: initial;
  background-origin: initial;
  -webkit-background-clip: initial;
  background-clip: initial;
  background-color: initial;
  -o-object-fit: cover;
  object-fit: cover;
}

body.install-page .logo a {
  background-image: url("../images/vardot-white-logo.png");
  background-position-x: 0px;
  background-position-y: 0px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: initial;
  -webkit-background-origin: initial;
  background-origin: initial;
  -webkit-background-clip: initial;
  background-clip: initial;
  background-color: transparent;
}

body.install-page .site-version {
  vertical-align: initial !important;
  padding-left: 10px;
  color: #4192c8;
  font-weight: bold;
  font-size: 0.6em;
}

footer.installer-footer {
  margin: 0 auto;
  width: 75%;
  max-width: 770px;
  border-radius: 5px;
  color: white;
}

footer.installer-footer #credit {
  float: right;
  padding: 20px 0 40px;
  font-size: 11px;
}

footer.installer-footer #credit a {
  clear: right;
  float: right;
  height: 0;
  overflow: hidden;
  padding: 50px 0 0;
  width: 125px;
}

[dir="rtl"] footer.installer-footer #credit {
  float: left;
  text-align: left;
  padding: 20px 0 40px;
  font-size: 11px;
}

.installer-logo {
  width: 222px;
}

@media (min-width: 48em) {
  .page-title {
    margin-left: 1.3em !important;
    color: #4192c8;
  }
}
