.layout-region-node-secondary {
  .form-item {
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
}

.details-wrapper {
  padding: 0.75em;

  table {
    @media (max-width: 1200px) {
      table-layout: fixed;

      .image-preview,
      .image-widget-data {
        float: none;
      }
    }
  }
}

#edit-created-from,
#edit-created-to,
#edit-user-created-from,
#edit-user-created-to,
#edit-content-created-from,
#edit-content-created-to {
  width: 150px;
}
